@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: #ffcbcbf5;
  color: #dcdcdc;
  font-family: Open Sans;
}

.login-box {
  margin-top: 100px;
  text-align: center;
  width: 430px;
  height: 380px;
  margin: 0 auto;
  padding: 60px;
}

.logo {
  height: 400px;
  margin-bottom: 30px;
}

.form-control {
  margin-bottom: 20px;
}

.btn {
  width: 100%;
  font-size: 16px;
}
