<head>
    <title>Login page</title>
    <link rel="stylesheet" href="/css/adminpanellogin.css">

</head>

<body>
    <div class="well login-box center-block">
        <img class="logo" src="https://i.hizliresim.com/7B2O0P.jpg"></img>
        <form action="/adminpanellogin" method="POST">

            <input type="text" style="    height: 40px;" class="form-control" placeholder="Username" name="userid" />

            <input type="password" style="    height: 40px;" class="form-control" id="pass" placeholder="Password"
                name="pswrd" />

            <button type="submit">Giriş Yap</button>
        </form>
    </div>
</body>



</html>