<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Artist</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script type="text/javascript" src="/javascript/home.js"></script>
</head>


<body>


    <!-- NAVBAR BAŞLANGIÇ-->
    <nav class="navbar navbar-expand-lg navbar-light #2b5ca2" style="background-color:#204f91">
        <a class="navbar-brand" href="#">TechnoEvent</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" style="color:white;" href="Anasayfa">Anasayfa <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " style="color:white;" href="etkinlikolustur">Etkinlik Oluştur</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " style="color:white;" href="etkinlikleregozat">Etkinliklere Göz At</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " style="color:white;" href="oturumac">Oturum Aç</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Ara" aria-label="Search" />
                <button class="btn btn-outline-light my-2 my-sm-0" style="    width: 80px;
        height: 35px;" type="submit">Ara</button>
            </form>
        </div>
    </nav>
    <div class="ortaresim">
        <img src="https://i.hizliresim.com/YQz9gE.png" style="height: 280px;margin-left: -30px;margin-top: 50px;">

        <h1 class="baslik">Etkinlikleri Oluşturmaya Hemen Başla</h1>


    </div>
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content" style="    width: 800px;
        margin-left: -100px;">
            <div class="modal-header">
                <h4 class="modal-title" id="eventAddLabel">Yeni Etkinlik</h4>
                <button type="button" class="close" data-dismiss="modal"><i
                        class="cutie icon-ios-close-circle cute-spin-1x"></i></button>
            </div>
            <div class="modal-body" id="eventAddBody">


                <form id="add_event" action="etkinlikolustur" method="post" class="needs-validation"
                    enctype="multipart/form-data">
                    <div class="form-row" id="itl">
                        <div class="form-group col-12">
                            <div class="form-group has-icon col">
                                <input type="text" class="form-control" name="EtkinlikAdi" id="eventloca"
                                    placeholder="Etkinlik Adı" autocapitalize="words" autocomplete="off"
                                    required="required">
                            </div>
                            <div class="form-group has-icon col">
                                <select id="sehirler" name="location" required="required">
                                </select>
                                <a class="button is-white" onclick="sehirlerigetir()">seçmek için dokunun</a><i
                                    class="fa fa-map-marker input-icon"></i>
                            </div>
                        </div>

                        <div class="form-row justify-content-center" id="datepair">

                            <div class="form-group has-icon col col-sm">
                                <input type="date" class="form-control date start" id="start_date" name="start_date"
                                    required="">
                                <i class="fa fa-calendar input-icon"></i>
                            </div>
                            <div class="form-group has-icon col-sm time-group">
                                <input type="time" class="form-control time start ui-timepicker-input" name="start_time"
                                    id="start_time" value="" placeholder="9:00am" autocomplete="off">
                                <i class="fa fa-clock input-icon"></i>
                            </div>
                            <span class="form-text px5 mb-3 mt-0 align-self-center">to</span>
                            <div class="form-group has-icon col-sm time-group">
                                <input type="time" class="form-control time end ui-timepicker-input" name="end_time"
                                    id="end_time" value="" placeholder="10:00am" autocomplete="off">
                                <i class="fa fa-clock input-icon"></i>
                            </div>
                            <div class="form-row">
                                <div class="form-group col has-icon">
                                    <input type="date" class="form-control date end" id="end_date" name="end_date">
                                    <i class="fa fa-calendar input-icon"></i>
                                </div>
                            </div>
                            <div class="form-group has-icon col col-sm">
                                <input type="url" class="form-control" name="eventurl" id="eventurl" placeholder="URL">
                                <i class="fa fa-globe input-icon"></i>
                            </div>
                        </div>


                        <h1>Açıklama</h1>

                        <input type="text" name="AciklamaBir" class="textarea">




                        <p>

                            <input type="file" multiple="false" accept="image/*" id="finput" name="İmageUpload"
                                onchange="Upload()" required="required">

                        </p>
                    </div>
                    <h3>Organizatör Adı
                    </h3>
                    <div class="control">
                        <input class="input is-hovered" type="text" name="OrganizatorName" placeholder="Organizatör Adı"
                            required="required"><br>
                    </div>
                    <h1>Açıklama</h1>

                    <input type="text" name="Aciklamaİki" class="textarea">


                    <h3>Sosyal Medya Linkleri</h3>
                    <button type="button" class="btn btn-fb"><i class="fab fa-facebook-f"></i></button>
                    <div class="field">
                        <div class="control">
                            <input class="input is-small" name="Facebook" type="text" placeholder="Facebook">
                        </div>
                    </div>

                    <button type="button" class="btn btn-tw"><i class="fab fa-twitter"></i></button>
                    <div class="field">
                        <div class="control">
                            <input class="input is-small" type="text" name="twitter" placeholder="Twitter">
                        </div>
                    </div>

                    <button type="button" class="btn btn-ins"><i class="fab fa-instagram"></i></button>
                    <div class="field">
                        <div class="control">
                            <input class="input is-small" type="text" name="İnstagram" placeholder="İnstagram">
                        </div>
                    </div>
                    <hr>

                    <h3>Bilet Sistemi</h3>
                    <input type="checkbox" id="ossm" name="ossm">
                    <label for="ossm">
                        <h2>Bilet Detayları</h2>
                        <div class="control">
                            <label>Bilet Adı*</label>
                            <input class="input" name="biletadi" type="text" placeholder="Bilet Adı">
                            <label>Ücret</label>
                            <input class="input" name="ucret" type="number" min="0.01" step="0.01" max="10000"
                                placeholder="Ücret">
                            <label>Kaç Adet*</label>
                            <input class="input" name="adetsayisi" type="number" placeholder="Adet">
                        </div><br>
                        <a>NOT: ÜCRET KISMI BOŞ KALIRSA ÜCRETSİZ BİLET DEMEKTİR...</a>
                        <hr>
                        <h3>Ek Bilgi</h3>
                        <input type="radio" name="gender" value="male"> Herkese Açık: Bu etkinliği herkese açık olarak
                        listele<br>
                        <input type="radio" name="gender" value="female"> Gizli Sayfa: Bu etkinliği herkese açık olarak
                        listeleme<br>
                        <br>
                    </label>

                    <h3>Etkinlik Tipi</h3>
                    <div class="control">
                        <div class="select">
                            <select name="Tip" required="required">
                                <option>Etkinlik Tipini Seçiniz</option>
                                <option>Sanat</option>
                                <option>Müzik</option>
                                <option>Sinema</option>
                                <option>Meeting</option>
                                <option>Spor</option>
                                <option>Fotoğrafçılık</option>
                                <option>Müze</option>
                                <option>Kitap</option>
                                <option>Fuar</option>
                            </select>
                        </div>
                    </div><br>
                    <h3>Etkinlik Konusu</h3>
                    <div class="control">
                        <div class="select">
                            <select name="Konu" required="required">
                                <option>Konser</option>
                            </select>
                        </div>
                    </div><br>

            </div>


            <div class="column">
                <input type="submit" value="Onayla" class="button is-link">

            </div>
            <div class="column">
                <a class="button is-light">İptal</a>
            </div>
        </div>
    </div>

    </div>


    </form>
    <footer class="footer" style="background-color: #204f91;">
        <div class="footer-left col-md-4 col-sm-6">
            <p class="about">
                <span> Techno EVENT</span> İnsanları monoton yaşantıdan kurtaracak projemizle karşınızdayız,
                her gün aynı toplantılardan her gün aynı ortamlardan bunalan insanlar için,
                dünyanın her yerinde ki organizasyonlarda bulunabilirsiniz.
                Eğitim,bilişim,sanayi ve sanat gibi bir çok dalda etkinliklere katılacaksınız.
            </p>

        </div>
        <div class="footer-center col-md-4 col-sm-6">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Üsküdar 5450</span> İstanbul</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p> 0(216) 943 2323</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="#"> technoevent@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right col-md-4 col-sm-6">
            <img src="">
            <p class="menu">
                <a href="#"> Anasayfa</a> |
                <a href="#"> Hakkımızda</a> |
                <a href="#"> Sponsorlarımız</a> |
                <a href="#"> Oturum Aç</a> |
            </p>
            <p class="name"> TechnoEvent &copy; 2019</p>
        </div>
    </footer>

</body>


</html>