<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Artist</title>
  <link rel="stylesheet" href="/css/etkinlikyonet.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-win8.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script type="text/javascript" src="/javascript/home.js"></script>
</head>

<body>
  <!-- NAVBAR BAŞLANGIÇ-->
  <nav class="navbar navbar-expand-lg navbar-light #2b5ca2">
    <a class="navbar-brand" href="#">TechnoEvent</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" style="color:white;" href="#">Anasayfa <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " style="color:white;" href="#">Etkinlik Oluştur</a>
        </li>

        <li class="nav-item">
          <a class="nav-link " style="color:white;" href="#">Oturum Aç</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Ara" aria-label="Search" />
        <button class="btn btn-outline-light my-2 my-sm-0" style="    width: 80px;
          height: 35px;" type="submit">Ara</button>
      </form>
    </div>
  </nav>
  <!--NAVBAR BİTİŞ-->
  <div class="container">

    <h1>Etkinliklerimi Yönet</h1>

    <div class="w3-panel w3-pale-blue w3-leftbar w3-rightbar w3-border-blue">
      <p>Eklediğiniz etkinliklerle ilgili bütün bilgileri bu sayfadan takip edebilirsiniz. Etkinlikleri düzenlemek,
        önizlemek veya yönetmek isterseniz ilgili etkinliğin karşısındaki ikona tıklamanız yeterli.
      </p>
    </div>
    <% data.forEach(function(yonet){ %>

    <div>
      <div class="w3-panel w3-win8-blue">
        <h2>Gelecek Etkinlikler</h2>
      </div>
      <div class="EtkinlikAdi">
        Etkinlik Adı
      </div>
      <div class="Etkinlikİkonlar">
        <%= yonet.EtkinlikAdi %> <br>
        <strong>Tarih:</strong><%= yonet.BaslangıcTarih%><%= yonet.BitisTarihi %>
        <div class="ikons">
          <a href="guncelle"><i class="fas fa-edit"></i></a>
          <a><i class="fas fa-trash-alt"></i></a>
          <a><i class="fas fa-eye"></i></a>
        </div>
      </div>
    </div>
    <% }); %>

  </div>
  <footer class="footer" style="background-color: #204f91;">
    <div class="footer-left col-md-4 col-sm-6">
      <p class="about">
        <span> Techno EVENT</span> İnsanları monoton yaşantıdan kurtaracak projemizle karşınızdayız,
        her gün aynı toplantılardan her gün aynı ortamlardan bunalan insanlar için,
        dünyanın her yerinde ki organizasyonlarda bulunabilirsiniz.
        Eğitim,bilişim,sanayi ve sanat gibi bir çok dalda etkinliklere katılacaksınız.
      </p>

    </div>
    <div class="footer-center col-md-4 col-sm-6">
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>Üsküdar 5450</span> İstanbul</p>
      </div>
      <div>
        <i class="fa fa-phone"></i>
        <p> 0(216) 943 2323</p>
      </div>
      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="#"> technoevent@gmail.com</a></p>
      </div>
    </div>
    <div class="footer-right col-md-4 col-sm-6">
      <img src="">
      <p class="menu">
        <a href="#"> Anasayfa</a> |
        <a href="#"> Hakkımızda</a> |
        <a href="#"> Sponsorlarımız</a> |
        <a href="#"> Oturum Aç</a> |
      </p>
      <p class="name"> TechnoEvent &copy; 2019</p>
    </div>
  </footer>
</body>

</html>