<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Artist</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light #2b5ca2">
        <a class="navbar-brand" href="#">TechnoEvent</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" style="color:white;" href="Anasayfa">Anasayfa <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" style="color:white;" href="etkinlikolustur">Etkinlik Oluştur <span
                            class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" style="color:white;" href="etkinlikleregozat">Etkinlikere Göz At <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" style="color:white;" href="login">Oturum Aç <span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Ara" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Ara</button>
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="kategori">
            <ul>
                <li class="kutu"><a href="sanat">
                        <h3>Sanat</h3>
                    </a></li>
                <li class="kutu"><a href="muzik">
                        <h3>Müzik</h3>
                    </a></li>
                <li class="kutu"><a href="Sinema">
                        <h3>Sinema</h3>
                    </a></li>
                <li class="kutu"><a href="Meeting">
                        <h3>Buluşma</h3>
                    </a></li>
                <li class="kutu"><a href="spor">
                        <h3>Spor</h3>
                    </a></li>
                <li class="kutu"><a href="fotografcılık">
                        <h3>Fotoğrafçılık</h3>
                    </a></li>
                <li class="kutu"><a href="muze">
                        <h3>Müze</h3>
                    </a></li>
                <li class="kutu"><a href="kitap">
                        <h3>Kitap</h3>
                    </a></li>
                <li class="kutu"><a href="fuar">
                        <h3>Fuar</h3>
                    </a></li>
            </ul>
        </div>

    </div>

    <footer class=" footer" style="background-color: #204f91;">
        <div class="footer-left col-md-4 col-sm-6">
            <p class="about">
                <span> Techno EVENT</span> İnsanları monoton yaşantıdan kurtaracak projemizle
                karşınızdayız,
                her gün aynı toplantılardan her gün aynı ortamlardan bunalan insanlar için,
                dünyanın her yerinde ki organizasyonlarda bulunabilirsiniz.
                Eğitim,bilişim,sanayi ve sanat gibi bir çok dalda etkinliklere katılacaksınız.
            </p>

        </div>
        <div class="footer-center col-md-4 col-sm-6">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Üsküdar 5450</span> İstanbul</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p> 0(216) 943 2323</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="#"> technoevent@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right col-md-4 col-sm-6">
            <img src="">
            <p class="menu">
                <a href="Anasayfa"> Anasayfa</a> |
                <a href="#"> Hakkımızda</a> |
                <a href="#"> Sponsorlarımız</a> |
                <a href="Login"> Oturum Aç</a> |
            </p>
            <p class="name"> TechnoEvent &copy; 2019</p>
        </div>
    </footer>

</body>

</html>