<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Oturum Aç</title>
    <link rel="stylesheet" href="/css/oturumac.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script type="text/javascript" src="/javascript/home.js"></script>
</head>

<body>


    <div class="container" id="container" style="    margin-top: 115px; width: 550px;">
        <form action="/oturumac" method="POST" style="    margin-top: -30px;">


            <div class="form-container sign-up-container">
                <h1>Create</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registration</span>
                <input type="text" style="color: black;" name="kullanici_Adi" placeholder="Kullanıcı Adı" />
                <input type="text" style="color: black;" name="uye_Adi" placeholder="Adın" />
                <input type="text" style="color: black;" name="uye_Soyadi" placeholder="Soyadın" />
                <input type="email" style="color: black;" name="uye_EMail" placeholder="E-Mail" />
                <input type="password" style="color: black;" name="uye_Sifre" placeholder="Şifre Belirleyin" />
                <button href="Login">Sign Up</button>

            </div>

        </form>


    </div>
    <footer class="footer" style="background-color: #204f91;">
        <div class="footer-left col-md-4 col-sm-6">
            <p class="about">
                <span> Techno EVENT</span> İnsanları monoton yaşantıdan kurtaracak projemizle karşınızdayız,
                her gün aynı toplantılardan her gün aynı ortamlardan bunalan insanlar için,
                dünyanın her yerinde ki organizasyonlarda bulunabilirsiniz.
                Eğitim,bilişim,sanayi ve sanat gibi bir çok dalda etkinliklere katılacaksınız.
            </p>

        </div>
        <div class="footer-center col-md-4 col-sm-6">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Üsküdar 5450</span> İstanbul</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p> 0(216) 943 2323</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="#"> technoevent@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right col-md-4 col-sm-6">
            <img src="">
            <p class="menu">
                <a href="#"> Anasayfa</a> |
                <a href="#"> Hakkımızda</a> |
                <a href="#"> Sponsorlarımız</a> |
                <a href="#"> Oturum Aç</a> |
            </p>
            <p class="name"> TechnoEvent &copy; 2019</p>
        </div>
    </footer>

</body>