
    
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Artist</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script type="text/javascript" src="/javascript/home.js"></script>
  </head>
</html>
<body>
  <!-- NAVBAR BAŞLANGIÇ-->
  <nav class="navbar navbar-expand-lg navbar-light #2b5ca2">
    <a class="navbar-brand" href="#">TechnoEvent</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" style="    position: absolute;
          margin-left: -120px;
          margin-top: 0px; color: white;" href="Anasayfa">Anasayfa <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " style="color:white;" href="etkinlikolustur">Etkinlik Oluştur</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " style="color:white;" href="etkinlikleregozat">Etkinliklere Göz At</a>
        </li>

        <li class="nav-item">
          <a class="nav-link " style="color:white;" href="oturumac">Oturum Aç</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Ara" aria-label="Search" />
        <button
          class="btn btn-outline-light my-2 my-sm-0"
          style="    width: 80px;
        height: 35px;"
          type="submit"
        >
          Ara
        </button>
      </form>
    </div>
  </nav>
  <script src="https://apis.google.com/js/platform.js"></script>


<div class="fotomain-container">
  
  	<header class="gradient-header" style="background: url(https://fotografium.com/media/rehber/mobil/mobil-hero.png); background-position: 50% 57%; background-size: cover;">
              <div class="title">
                <h1>Sanat </h1>
                <p class="paragraph">Sanat ile ilgili etkinlikleri kaçırmak istemiyorsan doğru yerdesin.Fotoğrafçılık,Opera,Müzik,Dans gibi bir çok sanat dalından haberdar olabilirsin.</p>
<div class="g-ytsubscribe" data-channel="art" data-layout="default" data-count="default"></div>
</div>
      </header>


<!-- CONTENT CARDS -->
<!-- CONTENT CARDS -->
<!-- CONTENT CARDS -->

<div class="card-section">
  
  
  
	<div class="rehber-card">
		<div class="rehberheader-img" style="background: url(https://fotografium.com/media/rehber/mobil/iceriks/mobil-12-ipucu.png)">
			<a id="" href="#">
			</a>
		</div>
		<div class="rehber-content">
			<h2 class="rehberheading">Mobil Fotoğraflarınıza Seviye Atlatacak 12 İpucu</h2>
		<p class="rehbertext">Herkes elbette telefonuyla rahatlıkla fotoğraf çekebilir ama gerçekten güzel kareler yakalamak biraz beceri isteyen bir iştir. Her mobil fotoğrafçının bilmesi gereken 12 ipucunu derledik.
</p>
			<a class="rehberbtn">Devamını Oku</a>
	</div>
  <div class="space"></div>
</div>
  
  
	<div class="rehber-card">
		<div class="rehberheader-img" style="background: url(https://fotografium.com/media/rehber/mobil/iceriks/mobil-fotograf-duzenleme-uygulamalari.png)">
			<a id="" href="#">
			</a>
		</div>
		<div class="rehber-content">
			<h2 class="rehberheading">En İyi Mobil Fotoğraf Düzenleme Uygulamaları</h2>
		<p class="rehbertext"> 
Mobil fotoğraf düzenleme uygulamalarıyla masaüstü uygulamaları arasındaki fark gittikçe erimeye başladı. Mobil uygulamalar her geçen gün elini güçlendirmeye devam ediyor.
</p>
			<a class="rehberbtn">Devamını Oku</a>
	</div>
  <div class="space"></div>    
</div>  
  <div class="rehber-card">
		<div class="rehberheader-img" style="background: url(https://fotografium.com/media/rehber/mobil/iceriks/mobil-fotografcilik-ekipmanlari.png)">
			<a id="" href="#">
			</a>
		</div>
		<div class="rehber-content">
			<h2 class="rehberheading">Mobil Fotoğrafçılığınızı Geliştirecek 10 Ekipman</h2>
		<p class="rehbertext">Fotoğrafçılık adına "Akıllı telefon mu? Fotoğraf makinesi mi?" diye sorulsa çoğumuzun tercihi bellidir. Ancak telefonunuzu bu ekipmanlarla dilerseniz bir kameraya dönüştürebilirsiniz.</p>
			<a class="rehberbtn">Devamını Oku</a>
	</div>
  <div class="space"></div>
</div>  
   
  
<div class="rehber-card">
		<div class="rehberheader-img" style="background: url(https://fotografium.com/media/rehber/mobil/iceriks/500px-fotografcilari-mobil-ipuclari.png)">
			<a id="" href="#">
			</a>
		</div>
		<div class="rehber-content">
			<h2 class="rehberheading">500px Fotoğrafçılarından Mobil Fotoğraflarınızı Geliştirecek 35 İpucu</h2>
		<p class="rehbertext">İyi fotoğrafçılar ellerindeki ekipmanı en verimli kullanan fotoğrafçılardır. Telefonla da harikalar yaratmak isteyen fotoğrafçılar için işin uzmanlarından 35 değerli ipucu.</p>

			<a class="rehberbtn">Devamını Oku</a>
	</div>
  <div class="space"></div>
</div>
  
   
  
	<div class="rehber-card">
		<div class="rehberheader-img" style="background: url(https://fotografium.com/media/rehber/mobil/iceriks/mobil-fotografcilik-hileleri.png)">
			<a id="" href="#">
			</a>
		</div>
		<div class="rehber-content">
			<h2 class="rehberheading">Hepsi Birbirinden İlginç 7 Basit Mobil Fotoğrafçılık Hilesi</h2>
		<p class="rehbertext">Sadece elinizin altındaki gündelik eşyaları kullanarak mobil fotoğrafçılıkta nasıl harikalar yaratabileciğinizi her şeyiyle öğrenin. Keyifli denemeler.</p>
			<a class="rehberbtn">Devamını Oku</a>
	</div>
  <div class="space"></div>  
</div>
  
  
  
  <div class="rehber-card">
		<div class="rehberheader-img" style="background: url(https://fotografium.com/media/rehber/mobil/iceriks/mobil-fotograf-duzenleme-ipuclari.png)">
			<a id="" href="#">
			</a>
		</div>
		<div class="rehber-content">
			<h2 class="rehberheading">Mobil Fotoğraflarınızı Düzenlemede Seviye Atlatacak İpuçları</h2>
		<p class="rehbertext">Mobil fotoğrafçılıkta fotoğrafı çekmek kadar çektikten sonra nasıl düzenlediğiniz de önemli. Maalesef, hazır filtre kullanmak fotoğraflarınıza seviye atlattırmaz.</p>
			<a class="rehberbtn">Devamını Oku</a>
	</div>
  <div class="space"></div>  
</div>
  

</div>
<% veri.forEach(function(İmgAc){ %>

  <div class="card-wrapper col-lg-4 col-md-6 col-xs-12">
    <div class="card">
        <div class="card-img-wrapper">
            <img class="card-img-top" src="data:image/jpg;base64,<%= İmgAc.ResimYukle %>" alt="Card image cap">
            <!-- RESİMDE VERİTABNINDAN GELİCEK-->

        </div>
        <div class="card-body">
            <h5 class="card-title"><%= İmgAc.EtkinlikAdi %></h5>
            <div class="card-content">
                <p class="card-text">
                    <!-- BURAYA VERİTABANINDAN AÇIKLAMA GELCEK--><%= İmgAc.AciklamaBir %>
                </p>

                
            </div>
        </div>
        

    </div><br><br>

</div>
<% }); %>

</body>
